.App {
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.App-logo {
  height: 20vmin;
  width: 20vmin;
  position: fixed;
  top: -3vmin;
  left: -3vmin;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Info {
  position: relative;
  font-size: calc(18px + 5vmin);
  font-weight: bold;
  border-radius: 0.5vmin;
  padding: 1vw;
  white-space: pre;
  background: linear-gradient(to left, transparent 50%, white 50%) right;
  background-size: 201%;
  transition: 0.1s ease-out;
}

.Info:hover {
  color: #000000;
  background-position: left;
}

.Tiles {
  position: absolute;
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
}
