@font-face {
  font-family: 'IBMPlexMonoLight'; /*Can be any text*/
  src: local('IBMPlexMono-Light'), url('./fonts/IBMPlexMono-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'IBMPlexMonoThin'; /*Can be any text*/
  src: local('IBMPlexMono-Thin'), url('./fonts/IBMPlexMono-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'PlexMono'; /*Can be any text*/
  src: local('IBMPlexMono-Regular'), url('./fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PlexMono';
}
